.containerIcon {
    background-color: #f97015;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.title {
    color: #1d212b;
    font-size: 1.875rem;
    font-weight: 600;
}

.text {
    color: #6a7181;
    font-size: 0.875rem;
    font-weight: 400;
    margin-top: 0.25rem;
    margin-bottom: 2rem;
}

.copyright {
    color: #6a7181;
    font-size: 0.875rem;
    margin-top: 1.5rem;
}