.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;   
    gap: 0.75rem; 
    margin-top: 0.25rem;
    border-radius: 0.5rem;
    color: #c5cad3cc;
}

.link p {
    font-size: 1.1rem;
    color: #c5cad3cc;
}


.active {
    background-color: #f97015;
    color: #fff;
}

.active p {
    color: #fff;
}
