.container {
    display: flex;
    padding: 16px;
    background-color: #fff;
    border-radius: 0.75rem;
    gap: .5rem;
    flex-direction: column;
    border: 1px solid hsl(220 13% 91%);
    
}

.containerInfo {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containerInfo div:nth-child(1) {
    display: flex;
    gap: 0.5rem;
}

.status {
    display: flex;
    padding: 0.5rem 0.5rem;
    background-color: #f3f4f6;
    font-family: "Inter", sans-serif;
    font-size: 0.80rem;
    color: #1d212b;
    width: fit-content;
    border-radius: 1rem;
    justify-content: center;
    height: fit-content;
}

.status p {
    display: flex;
    align-items: center;
    gap: .3rem;
}


.title {
    text-align: center;
    color: #1d212b;
    font-size: 1.25rem;
    font-weight: 600;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;
}

.containerMain {
    display: flex;
    justify-content: space-between;
}

.itens {
    padding: 0.5rem 0.5rem;
    background-color: #f3f4f6;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    color: #1d212b;
    width: fit-content;
    border-radius: 0.375rem;
}

.btn {
    background-color: #fafafa;
    border: 0.5px solid hsl(220 13% 91%);
    line-height: normal;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    justify-content: center;
    padding: 0.5rem 0rem;
    border-radius: 0.5rem;
    gap: 0.5rem
}