.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.containerInfo {
    display: flex;
    gap: 0.5rem;
    color: #f97015;
}

.containerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    background-color: #f970151a;
    width: 2.5rem;
    height: 2.5rem;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.title {
    font-family: "Inter", sans-serif;
    color: #1d121b;
    font-weight: bold;
    font-size: 1rem;
}

.btn {
    position: relative;
}

.select {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0.250rem;
    background-color: #fff;
    height: max-content;
    padding: 0.5rem;
    gap: 0.125rem;
    border: 1px solid #e5e7eb;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 6px;
}

.select button {
    display: flex;
    gap: 0.375rem;
    align-items: center;
    background: white;
    border: none;
    font-family: "Inter", sans-serif;
    color: #1d121b;
    font-family: 500;
    padding: 0.5rem 1rem;
}

.select button:hover {
    color: #f97316;
    background-color: #f970151a;
    border-radius: 0.5rem;
}
