.container {
    display: flex;
    margin-top: 4rem;
    padding: 1rem;
    gap: 1.5rem;
    flex-direction: column;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-sizing: border-box;

}

.form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid hsl(220 13% 91%);
    border-radius: 0.5rem;
}

.form h1 {
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    text-align: center;
}

.infoCar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;

}

.containerInput {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.container input {
    background-color: transparent;
    border: 1px solid hsl(220 13% 91%);
    border-radius: 0.5rem;
    padding: 0.5rem 0.4rem;
}

.select {
    gap: 0.3rem;
    display: flex;
    flex-direction: column;
}

thead {
    background-color: hsl(0 0% 98%);
}

thead tr {
    border: 1px solid #000;
}

thead tr td {
    padding: 0.5rem;
    align-items: center;
}


.form table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    /* Força o navegador a obedecer as larguras abaixo */
}

/* Coluna 1: Descrição */
.form th:nth-child(1),
.form td:nth-child(1) {
    width: 40%;
    text-align: left;
    vertical-align: middle
}

/* Coluna 2: Ok */
.form th:nth-child(2),
.form td:nth-child(2) {
    width: 10%;
    text-align: center;
    vertical-align: middle
}

/* Coluna 3: Erro */
.form th:nth-child(3),
.form td:nth-child(3) {
    width: 10%;
    text-align: center;
    vertical-align: middle
}

form th:nth-child(4),
.form td:nth-child(4) {
    width: 40%;
    text-align: center;
    vertical-align: middle
}

tbody tr {
    border: 1px solid #000;

}

tbody tr td {
    align-items: center;
    padding: 0.5rem;
}

.btn {
    display: flex;
    background: linear-gradient(135deg, hsl(24 95% 53%) 0%, hsl(30 95% 58%) 100%);
    align-items: center;
    gap: 0.5rem;
    color: white;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 0.8rem 1.3rem;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.cancel {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    color: #1d121b;
    border: 1px solid hsl(220 13% 91%);
}