.container {
    display: flex;
    flex-direction: column;
    gap: 0.30rem;
}

.container label {
    color: #1d121b;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
}

.container input {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(220 13% 91%);
    background-color: transparent;
    font-family: "Inter", sans-serif;
    color: #1d121b;
}

.container input:focus {
    outline: none;
    border-color: #f97316;
}