.container {
    display: flex;
    padding: 16px;
    background-color: #fff;
    border-radius: 0.75rem;
    gap: 1rem;
    flex-direction: column;
    border: 1px solid hsl(220 13% 91%);
    
}

.header {
    display: flex;
    justify-content: space-between;
}

.header div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.header div:nth-child(1) div:nth-child(1) {
    border-radius: 50%;
    background-color: #f970151a;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
}

.header div:nth-child(1) h3 {
    color: #1d212b;
    font-weight: 600;
}

.header div:nth-child(1) div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 0.40rem;
}

.info1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.75rem;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.label span {
    font-size: 0.75rem;
    color: #6a7181;
}

.label p {
    font-size: 0.875rem;
    color: #1d212b;
}

.divButton {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    border-top: 1px solid hsl(220 13% 91%);;
}

.divButton button {
    font-size: 0.875rem;
    color: #1d212b;
    background-color: #fafafa;
    padding: 0.5rem 0.75rem;
    font-family: "Inter", sans-serif;
    border-radius: 0.375rem;
    border: 0.5px solid hsl(220 13% 91%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.375rem;
    margin-top: 1rem;
}