.container {
    display: flex;
    padding: 16px;
    background-color: #fff;
    border-radius: 0.75rem;
    gap: 1rem;
    flex-direction: column;
    border: 1px solid hwb(220 90% 8%);
}

.header {
    display: flex;
    justify-content: space-between;
}

.infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.75rem
}

.fieldInfos {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.title {
    font-family: "Inter", sans-serif;
    color: #1d121b;
    font-weight: bold;
    font-size: 1rem;
}

.oficina {
    font-family: "Inter", sans-serif;
    color: #6a7181;
    font-size: 0.875rem;
}

.containerTitle {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}


.fieldInfos span {
    font-size: 0.75rem;
    color: #6a7181;
}

.fieldInfos p {
    font-size: 0.875rem;
    color: #1d212b;
    font-weight: 500;
}

.descricao {
    display: flex;
    flex-direction: column;
    gap: 0.3rem
}

.descricao span {
    font-size: 0.75rem;
    color: #6a7181;
}

.descricao p {
    font-size: 0.875rem;
    color: #1d212b;
    font-weight: 500;
}

.btn {
    position: relative;
}

.select {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0.250rem;
    background-color: #fff;
    height: max-content;
    padding: 0.5rem;
    gap: 0.125rem;
    border: 1px solid #e5e7eb;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius: 6px;
}

.select button {
    display: flex;
    gap: 0.375rem;
    align-items: center;
    background: white;
    border: none;
    font-family: "Inter", sans-serif;
    color: #1d121b;
    font-family: 500;
    padding: 0.5rem 1rem;
}

.select button:hover {
    color: #f97316;
    background-color: #f970151a;
    border-radius: 0.5rem;
}

.novo {
    color: #f59f0a;
    background-color: #f59f0a1a;
    padding: 0.375rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 0.75rem;
}

.andamento {
    color: #3c86f6;
    background-color: #3c86f61a;
    padding: 0.375rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 0.75rem;
}

.finalizado {
    color: #21cd5d;
    background-color: #21cd5d1a;
    padding: 0.375rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 0.75rem;
}

.agendada {
    color: #963cf6;
    background-color: #963cf61a;
    padding: 0.375rem 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    width: fit-content;
    border-radius: 0.75rem;
}