.container {
    display: flex;
    margin-top: 4rem;
    padding: 1rem;
    gap: 1.5rem;
    flex-direction: column;
}

.containerOne {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.miniCard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
}