.container {
    display: flex;
    inset: 0;
    width: 100%;
    z-index: 4;
    position: fixed;
    background-color: #000000af;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
}

.containerCheck {
    margin-bottom: 2rem;
    background-color: #fff;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    padding: 0;
    gap: 1rem;
    display: flex;
    width: 80%;
    flex-direction: column;
    height: 90vh;
    /* altura fixa do modal */
    border-radius: 0.875rem;
    overflow-y: auto;
    /* scroll aqui */
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fafafa;
    z-index: 10;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.header h1 {
    color: #1d121b;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.containerInfosCheck {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0.3rem 1.5rem 1.5rem 1.5rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.inputs span {
    color: #1d121b;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
}

.inputs .input {
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid hsl(220 13% 91%);
    background-color: transparent;
    font-family: "Inter", sans-serif;
    color: #1d121b;
}

.inputs .input:focus {
    outline: none;
    border-color: #f97316;
}

.itensStatusOk {
    border: 0.5px solid hsl(220 13% 91%);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    display: flex;
    color: #1d121b;
    font-weight: 400;
    background-color: #fafafa;
    font-size: 0.875rem;
    justify-content: space-between;

}

.itensStatusOk span {
    color: #03e621;
}


.itensStatusErro {
    border: 0.5px solid #ef4343;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    color: #ef4343;
    gap: 0.5rem;
    font-weight: 500;
    background-color: #ef43431a;
    font-size: 0.875rem;
}

.itensStatusErro input {
    border: none;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: 0.5px solid #ef4343;
}

.itensStatusErro input:focus {
   outline: none;
}

.itens {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.containerItens {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #1d121b;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
}