.btn {
    display: flex;
    background: linear-gradient(135deg, hsl(24 95% 53%) 0%, hsl(30 95% 58%) 100%);
    align-items: center;
    gap: 0.5rem;
    color: white;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    padding: 0.8rem 1.3rem;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

.icon {
    stroke: #fff;
}