.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 0.5rem;
}

.title {
    text-align: center;
    color: #1d212b;
    font-size: 1.25rem;
    font-weight: 600;
}

.text {
    color: #6a7181;
    font-size: 0.875rem;
    margin-top: 0.375rem;
}

.containerInfo {
    padding: 1.5rem;
    padding-bottom: 1rem;
}

.containerInput {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    padding-top: 0;
    width: 90%;
    gap: 1.3rem;
}

.btn {
    background-color: #f97015;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    color: #fff;
    width: 100%;
    border-radius: 0.375rem;
}