.container {
    background-color: #f3f4f680;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid hsl(220 14% 96% .5);
}

.container p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #1d121b;
}

.container span {
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    color: #6a7181;
    
}