.container {
    margin-top: 4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.containerOne {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}