.search {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    border: 1px solid hsl(220 13% 91%);
    border-radius: 0.5rem;
    gap: 0.5rem;
}

.search input {
    background-color: transparent;
    border: none;
    width: 100%;

}

.search input:focus {
    outline: none;
}