.container {
    background-color: #ffffff;
    padding: 0.90rem;
    width: auto;
    border-radius: 0.5rem;
    border: 0.5px solid hsl(220 13% 91%);
    display: flex;
    flex-direction: column;
}

.container div span {
    color: #6a7181;
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
}

.container p {
    font-size: 1.125rem;
    color: #1d212b;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-top: 0.50rem;
}

.container div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}