.header {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #1d212b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header nav {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
}

.header nav > *:nth-child(1) {
    justify-self: start;
}

/* Alinha o segundo item (Menu/Centro) ao centro */
.header nav > *:nth-child(2) {
    justify-self: center;
}

/* Alinha o terceiro item (Perfil/Sair) à direita */
.header nav > *:nth-child(3) {
    justify-self: end;
}

.header nav div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header nav div div {
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
    background: linear-gradient(135deg, hsl(24 95% 53%) 0%, hsl(30 95% 58%) 100%);
    align-items: center;
    justify-content: center;
}

.header nav div p {
    color: #c5cad3;
    font-size: 1.125rem;
    font-weight: bold;
}