.header {
    display: flex;
    padding: 1rem;
    background-color: #1d212b;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.header nav {
    display: flex;
    gap: 5rem;
    align-items: center;
}

.header nav div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header nav div div {
    height: 2rem;
    width: 2rem;
    border-radius: 0.5rem;
    background: linear-gradient(135deg, hsl(24 95% 53%) 0%, hsl(30 95% 58%) 100%);
    align-items: center;
    justify-content: center;
}

.header nav div p {
    color: #c5cad3;
    font-size: 1.125rem;
    font-weight: bold;
}