.containerIcon {
    display: flex;
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 50%;
    background-color: #29303d;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 2.5rem;
    border-top: 0.5px solid rgb(229, 231, 235, 0.5);
}


.containerInfo h3 {
    color: #c5cad3;
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.containerInfo p {
    color: rgb(197, 202, 211);
    opacity: 60%;
    font-size: 0.875rem;
}

.box {
    display: flex;
    gap: 0.75rem;
}
