.container {
    display: flex;
    margin-top: 4rem;
    padding: 1rem;
    gap: 1.5rem;
    flex-direction: column;
}

.header {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.containerOne {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.containerOne .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.containerTwo {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}