.container {
    display: flex;
    padding: 16px;
    background-color: #fff;
    border-radius: 0.75rem;
    gap: 1rem;
    flex-direction: column;
    border: 1px solid hsl(220 13% 91%);
    
}

.containerInfo {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    
}